*{margin:0; padding:0; box-sizing:border-box;}
h1 {
	color: white;
	font-family: 'Bungee Inline', cursive;
}

hr {
margin-top: -10px;
border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, red, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, red, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, red, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

h2, h4 {
	font-family: 'Permanent Marker', cursive;
}

h3 {
	font-size: 18px;
	font-family: 'Permanent Marker', cursive;
	color: darkgray;
}

h5 {
	color: red;
	font-weight: bold;
	font-family: 'Bungee Inline', cursive;
}

body, html, .container-fluid, #canvas {
  font-family:arial;
  position: absolute;
  height: 100%;
  width: 100%;
}

#verticalHeader {
    height: 10%;
    background-color: black;
}

#verticalFirst {
    height: 45% !important;
}

#verticalSecond {
    height: 25% !important;
}

#verticalBottom {
    height: 10%;
    background-color: black;
}

#activRes {
    height: 100%;
}

form {
    margin-top: 70%;
    text-align: center;
    display: block;
}

#inputForm {
		background-color: black;
    background-image: url("https://i.imgur.com/gFl58Ei.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#keyPartners:hover, #keyActivities:hover, #keyResources:hover, #valueProposition:hover, #channels:hover {
    color: red;
    cursor: pointer;
}
label {
    font-size: 14px;
    color: lightcyan;
    transition: 0.5s;
    margin-top: 15px;

}

label input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    opacity: 0;

}

label .check {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    background: linear-gradient(#000, #333);
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

label .check:before {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #1b1b1b;
    transition: 0.5s;
    z-index: 3;
}

label .check:after {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: #222;
    border-radius: 50%;
    z-index: 2;
    border: 2px solid #161616;
}

label input[type="checkbox"]:checked ~ .check:before {
    background: rgba(0, 176, 255, 1);
    box-shadow: 0 0 10px rgba(0, 176, 255, 1),
                0 0 15px rgba(0, 176, 255, 1),
                0 0 20px rgba(0, 176, 255, 1),
                0 0 25px rgba(0, 176, 255, 1),
                0 0 30px rgba(0, 176, 255, 1);
}



